<?xml version="1.0" encoding="UTF-8"?>
<suite name="HawkularUITest">

	<!-- Hawkular Red Hat Login and Registration Tests -->
	<test name="HawkularLoginAndRegistrationTests">
		<classes> 
			<class name="org.qe.hawkular.tests.HawkualrLoginTest" />			
			<class name="org.qe.hawkular.tests.HawkularMultiTenancyTest" />			
			<class name="org.qe.hawkular.tests.HawkularRegistrationTest" />				
		</classes>
	</test>
		
	<!-- Hawkular Home page test - Add/Delete URL tests -->
	<test name="HawkularHomePageTests">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularHomePageTest" />
		</classes>
	</test>
	
	<!-- Hawkular App Server Tests -->
        <test name="HawkularAppServerTest">
                <classes>
                        <class name="org.qe.hawkular.tests.HawkularAppServerTest" />
                </classes>
        </test>
	
    <!-- Hawkular Application Server Deployments Actions Tests -->
	<test name="HawkualrWarActionTest"> 
		<classes>
			<class name="org.qe.hawkular.tests.HawkularWarActionTest">
				<methods>
					
					<include name="hawkularEnableWarTest"></include>
					<include name="hawkularRedeployWarTest"></include>
					<include name="hawkularDisableWarTest"></include>
					<include name="hawkularRemoveWarTest"></include>
					<include name="hawkularEnableMultipleWarsTest"></include>
				</methods>
			</class>
		</classes>
	</test>
	
	<!-- Hawkular Datasources test -->
	<test name="HawkularDatasourcesTest">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularDatasourcesTest" />
			<methods>					
					<include name="hawkularAddDataSourceTest"></include>
					<include name="hawkularDeleteDataSourceTest"></include>
					<include name="hawkularAddJDBCDriversTest"></include>
					<include name="hawkularExportJDRTest"></include>
			</methods>
		</classes>
	</test>  	
		
	<!-- Hawkular Add Deployment Tests -->
	<test name="HawkularAddDeploymentTest">
	<classes>
			<class name="org.qe.hawkular.tests.HawkularAddDeploymentTest" />
		</classes>
	</test>
	
	<!-- Hawkular Organizations Tests -->
	<test name="HawkularOrganizationsTest">
	<classes>
			<class name="org.qe.hawkular.tests.HawkularOrganizationsTest" />
		</classes>
	</test>		
	
	<!-- Hawkular User Settings Tests -->
	<test name="HawkularUserSettingsTest">
	<classes>
			<class name="org.qe.hawkular.tests.HawkularUserSettingsTest" />
		</classes>
	</test>		

         <!-- Switch User -->
        <test name="HawkularSwitchUserTest">
                <classes>
                        <class name="org.qe.hawkular.tests.HawkularSwitchUserTest" />
                </classes>
        </test>

	<!-- Hawkular Alerts Tests -->
	<test name="HawkularAlertTests">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularAlertFilterTest" />
			<class name="org.qe.hawkular.tests.HawkularAlertNotificationsTest" />
		</classes>
	</test> 
	
	<!-- Hawkular Topology  Tests -->	
	<test name="HawkularNetworkTopologyTest">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularNetworkTopologyTest" />
		</classes>
	</test> 
	 
</suite>
