<?xml version="1.0" encoding="UTF-8"?>
<suite name="HawkularUITest">

	<!-- Hawkular Red Hat Login and Registration Tests 
	 <test name="HawkularLoginAndRegistrationTests">
		<classes> 
			<class name="org.qe.hawkular.tests.HawkualrLoginTest" />
			
			<class name="org.qe.hawkular.tests.HawkularMultiTenancyTest" />
			
			<class name="org.qe.hawkular.tests.HawkularRegistrationTest" />
				
		</classes>
	</test> 
	-->
	<!-- Hawkular Home page test - Add/Delete URL tests 
	 <test name="HawkularHomePageTests">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularHomePageTest" />
		</classes>
	</test>
	-->
	<!-- Hawkular Red Hat Access Search Knowledge Base Test 
	 <test name="HawkularRHASearchTest">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularRHASearchTest" />
		</classes>
	</test> 
	-->	
	<!-- Hawkular App Server Tests 
       <test name="HawkularAppServerTest">
                <classes>
                        <class name="org.qe.hawkular.tests.HawkularAppServerTest" />
                </classes>
        </test> 
	-->
    <!-- Hawkular Red Hat Access Support Case Tests 
	 <test name="HawkularRHASupportCaseTest">
                <classes>
                        <class name="org.qe.hawkular.tests.HawkularRHASupportCaseTest" />
                </classes>
        </test>
    -->
	<!-- Hawkular Red Hat Access Create Support Case Test -->
	 <test name="hawkularCreateSupportcaseTest">
        <classes>
            <class name="org.qe.hawkular.tests.HawkularCreatCaseTest" >
                <methods>					
					<include name="hawkularOpenCaseJDRReportTest"></include>
				</methods>
            </class>            
            </classes>
        </test> 
	
	<!-- Hawkular Application Server Deployments Actions Tests 
	 <test name="HawkualrWarActionTest">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularWarActionTest">
				<methods>
					
					<include name="hawkularEnableWarTest"></include>
					<include name="hawkularRedeployWarTest"></include>
					<include name="hawkularDisableWarTest"></include>
					<include name="hawkularRemoveWarTest"></include>
					<include name="hawkularEnableMultipleWarsTest"></include>
				</methods>
			</class>
		</classes>
	</test> 
	-->
	<!-- Hawkular JDBC driver upload test -->
	<test name="HawkularDatasourcesTest">
		<classes>
			<class name="org.qe.hawkular.tests.HawkularDatasourcesTest" />
		</classes>
	</test> 
	 
	 
	 <!-- Hawkular Add Deployment Tests -->
	<test name="HawkularAddDeploymentTest">
	<classes>
			<class name="org.qe.hawkular.tests.HawkularAddDeploymentTest" />
		</classes>
	</test>
</suite>
